.JobHuntz{
  position: absolute;
      top: 16px;
      padding-left: 45%;
      height: 191px;
}
.button.button-border.button-light{
  border-color: #353535;
    color: #353535;
}
.hospatality{
  color: #DAA520;
  text-transform: uppercase;
  font-weight: bold;
}
.caption{
  font-size: 30px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

#header.full-header #primary-menu > ul{
      border-right: none;
}

.white{
  border-color: #fff !important;
    color: #fff !important;
}
.button.button-border.button-light:hover {
  color: #333!important;
}

.aboutUs .promo.promo-light{
  background: #fff !important;
  padding-left: 0!important;
  text-align: center!important;
}
.aboutUs .promo{
  padding: 30px!important;
}

.contact #contact-form-overlay{
  position: absolute;
    max-width: 500px;
    right: 0;
    background-color: #FFF;
    padding: 40px;
    margin: 0 auto;
    z-index: 10;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.15);
}
#header.full-header #logo{
      padding: 0 30px;
      background: #2a004e;
}
body.stretched #header.full-header .container{
      padding: 0 30px 0 0;
}
h1 > span:not(.nocolor), h2 > span:not(.nocolor), h3 > span:not(.nocolor), h4 > span:not(.nocolor), h5 > span:not(.nocolor), h6 > span:not(.nocolor) {
    color: #9D7F2A!important;
}
.dark .slider-caption h2{
  color: #8b6e30;
}
.postcontent.col_last{
  float: left;
}
.pt30{
  padding-top: 30px;
}
.text-center{
  text-align: center;
}
.register .promo{
  position: relative;
padding: 30px 20px 30px 0;
}
.register .promo-light{
 padding-left: 0px;
 text-align: center;
}
.darkBlue{
  color: rgb(42, 0, 78) !important;
}
.brightLight{
  color: rgb(254, 253, 235) !important;
}
.discount{

}
.discountBg{
  background: url("/one-page/images/page/4.jpg");
    background-size: cover;
}
.White{
  color: #fff;
}
.Black{
  color: #000;
}
.text-rotater {
    font-size: 26px !important;
}
.fnt30{
   font-size: 30px;
}
.heading-block h1 + span {
    font-size: 33px !important;
}
.footer_brand{
  float: left;
/* height: 100px; */
/* width: 102px; */
border-right: 1px solid #545454;
padding: 10px;
font-size: 30px;
color: #888888;
text-transform: uppercase;
font-weight: bold;
margin-right: 10px;
}

.footer_text{
  padding-top: 10px;
}
.widget > h4 {
  margin-bottom: 0!important;
}
.fnt18{
      font-size: 18px;
}
.p10{
  padding: 10px;
}
#homepage .swiper_wrapper {
    height: 554px !important;
}
.white{
  color: #fff;
}
.black{
  color: #000;
}
.right{
  text-align: right;
}
.button.button-border:not(.button-fill):hover{
  border: none !important;
}
.fnt40{
  font-size: 40px !important;
}
.changeBrd{
  border-color: #fff !important;
  /*color: #fff !important;*/
  /* font-weight: bold !important; */
  /*background-color: #fff !important;*/
  color: #fff!important;
}
.fbox-effect .fbox-icon img:hover, .fbox-effect:hover .fbox-icon img {
    background-color: #333;
    color: #FFF;
}
#section-services .feature-box.fbox-center .fbox-icon{
  width: 200px !important;
    height: 200px !important;
}
#section-services .feature-box p{
 color: #333;
}
#section-services .divider{
  margin: 0!important
}
#section-work .portfolio-item .portfolio-image img{
  height: 200px !important;
}
